<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body{% if page.layout == 'chapter' and page.prev_chapter and page.next_chapter %} class="has-sticky-nav"{% endif %}>
{% include preloader.html %}

<div class="page-container">
  {% include navbar.html %}

  {{ content }}

  {% unless page.layout == 'chapter' and page.prev_chapter and page.next_chapter %}
  {% include scroll-to-top.html %}
  {% endunless %}
  {% include footer.html %}
</div>

{% include scripts.html %}
</body>
</html>
